:root {
  /* Refer to this sliding chart to see the color, in this case it is a deep red */
  /* https://www.w3schools.com/css/css_colors_hsl.asp */
  --hue: 10; 
  --bkg: var(--hue) 40% 98%;
  --text: var(--hue) 80% 20%;
  --accent: var(--hue) 60% 50%;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  box-sizing: 0;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  place-items: center;
  place-content: center;
  min-height: 100vh;
  gap: 2rem;
  padding: 2rem;
  background-color: hsl(var(--bkg));
  color: hsl(var(--text));
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: hsl(var(--accent));
  color: hsl(var(--bkg));
  padding: 0.5rem 1.5rem;
  /* Pill shaped */
  border-radius: 100vmax;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5rem;
  width: 600px;
  max-width: 90vw;
  /* Make it into squares */
  aspect-ratio: 1 / 1;
}

.tile {
  border: 2px solid hsl(var(--text));
  background-color: hsl(var(--bkg));
  border-radius: .5rem;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-weight: bold;
  /* Clamp size, (smallest it will ever be: ideal size: largest size) */
  font-size: clamp(2rem, calc(10vw + 1rem), 10rem);
  aspect-ratio: 1 / 1;
  /* JavaScript is used to change the hue  */
  color: hsl(var(--hue) 60% 50%);
}

/* X and O's are populated through JavaScript adding the data attribute of data-value */
.tile[data-hover]::before {
  content: attr(data-hover);
  opacity: .3;
}

.tile[data-value]::before {
  content: attr(data-value);
  opacity: 1;
}